@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
@keyframes shine {
  0% {
    box-shadow: 0 0 0.1rem #fff; }
  50% {
    box-shadow: 0 0 3rem #fff; }
  100% {
    box-shadow: 0 0 0.1rem #fff; } }

@keyframes tail {
  0% {
    width: 0; }
  30% {
    width: 100px; }
  100% {
    width: 0; } }

@keyframes shining {
  0% {
    width: 0; }
  50% {
    width: 30px; }
  100% {
    width: 0; } }

@keyframes shooting {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(320px); } }

@keyframes gradientBG {
  0% {
    background-position: 100% 0%; }
  50% {
    background-position: 30% 0%; }
  100% {
    background-position: 100% 0%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@font-face {
  font-family: 'archiaregular';
  src: url("../fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'modernplate';
  src: url("../fonts/ModernPlate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  *:focus, *:active {
    outline: none !important; }

html {
  font-size: 62.5%;
  background-color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 65em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 44em) {
    html {
      font-size: 40%; } }

body {
  font-family: "archiaregular", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased; }

a:link,
a:visited {
  color: #0d65f1; }

a:focus,
a:active {
  outline: none; }

::-moz-selection {
  background-color: #444;
  color: #222; }

::selection {
  background-color: #444;
  color: #222; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #000; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222; }

.landing {
  height: 100vh;
  width: 100vw;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, #855988, #483475, #141852, #040724);
  animation: gradientBG 12s cubic-bezier(0.7, 0, 0.2, 1) infinite;
  color: #f7f7f2;
  font-weight: 500;
  font-size: 3rem; }
  .landing-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10%;
    animation: moveInTop 1s ease 0.75s;
    animation-fill-mode: backwards; }
    .landing-top-logo {
      font-family: "modernplate";
      font-size: 4rem; }
    .landing-top-nav {
      display: flex;
      font-size: 2.6rem; }
      .landing-top-nav > * {
        margin-left: 4rem; }
        .landing-top-nav > *::after {
          content: "";
          position: relative;
          display: block;
          height: 3px;
          width: 100%;
          background-color: #fff;
          transform: scaleX(0);
          transform-origin: 0%;
          transition: transform 300ms ease;
          top: 2px; }
        .landing-top-nav > *:hover::after {
          transform: scaleX(1); }
        .landing-top-nav > *:hover {
          cursor: pointer; }
  .landing-heading {
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 70%;
    width: 70%;
    padding: 10% 10% 5rem;
    line-height: 1.6; }
    .landing-heading-top-title {
      font-size: 5rem;
      animation: moveInBottom 1s ease 0.75s;
      animation-fill-mode: backwards; }
    .landing-heading-top-subtitle {
      margin-top: 3rem;
      font-size: 3.2rem;
      width: 80%;
      animation: moveInBottom 1s ease 1s;
      animation-fill-mode: backwards; }
    .landing-heading-bottom {
      animation: moveInBottom 1s ease 1.25s;
      animation-fill-mode: backwards; }
      .landing-heading-bottom::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 300ms ease;
        top: 2px; }
      .landing-heading-bottom:hover::after {
        transform: scaleX(1); }
      .landing-heading-bottom:hover {
        cursor: pointer; }

.star {
  position: absolute; }
  .star-1 {
    top: 60%;
    left: 75%;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s ease 3s infinite; }
  .star-2 {
    top: 84%;
    left: 84%;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s ease 1s infinite; }
  .star-3 {
    top: 50%;
    left: 62%;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s ease 2s infinite; }
  .star-4 {
    top: 30%;
    left: 80%;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s ease 5s infinite; }

.shooting-star-container {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: rotateZ(45deg); }

.shooting-star {
  position: absolute;
  top: 60%;
  left: 60%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 4000ms ease-in-out infinite, shooting 4000ms ease-in-out infinite; }

.shooting-star::before,
.shooting-star::after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 4000ms ease-in-out infinite; }

.shooting-star::after {
  transform: translateX(50%) rotateZ(-45deg); }

.shooting-star:nth-child(1) {
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  animation-delay: 650ms; }

.shooting-star:nth-child(1)::before,
.shooting-star:nth-child(1)::after {
  animation-delay: 650ms; }

.shooting-star:nth-child(2) {
  top: calc(50% - -50px);
  left: calc(50% - 190px);
  animation-delay: 150ms; }

.shooting-star:nth-child(2)::before,
.shooting-star:nth-child(2)::after {
  animation-delay: 150ms; }

.shooting-star:nth-child(3) {
  top: calc(50% - -90px);
  left: calc(50% - 200px);
  animation-delay: 1600ms; }

.shooting-star:nth-child(3)::before,
.shooting-star:nth-child(3)::after {
  animation-delay: 1600ms; }

.shooting-star:nth-child(4) {
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  animation-delay: 4700ms; }

.shooting-star:nth-child(4)::before,
.shooting-star:nth-child(4)::after {
  animation-delay: 4700ms; }

.shooting-star:nth-child(5) {
  top: calc(50% - -190px);
  left: calc(50% - 200px);
  animation-delay: 2100ms; }

.shooting-star:nth-child(5)::before,
.shooting-star:nth-child(5)::after {
  animation-delay: 2100ms; }

.section-one {
  height: 50vh;
  background-color: #04061a; }
