.about {
  &-story {
    &-title {
    }
  }
  &-picture {
  }
  &-skills {
    &-title {
    }

    &-list {
      &-each {
      }

      &-image {
        height: 50px;
        width: 50px;
        display: inline-block;

        &-react {
          background-image: url("../images/logos/reactjslogo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-express {
          background-image: url("../images/logos/expressjslogo.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-sass {
          background-image: url("../images/logos/sasslogo.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-cheerio {
          background-image: url("../images/logos/cheeriologo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-ajax {
          background-image: url("../images/logos/ajaxlogo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-mongo {
          background-image: url("../images/logos/mongodblogo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-firebase {
          background-image: url("../images/logos/firebase.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: top;
        }

        &-node {
          background-image: url("../images/logos/nodejslogo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-redux {
          background-image: url("../images/logos/reduxlogo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-html {
          background-image: url("../images/logos/htmllogo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &-js {
          background-image: url("../images/logos/javascript.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &-name {
      }
    }
  }
}
